* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Monaco", monospace;
}

div.title {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2vh 8vw;
}

.flex {
  display: flex;
}

.align {
  align-items: center;
}

.justify {
  justify-content: center;
}

div.content {
  display: grid;
  grid-template-columns: 1fr 2fr 7fr;
  margin: 2rem 0;
}